{% extends 'base.html' %}

{% block content %}
<br>
<div class='search'>
	<form method='GET' action='.'>
		Title: <input type="search" name="title_search">
		<br>
		Price: 
		<br>
			Min: <input type="search" name="price_min"> 
		<br>
			Max: <input type="search" name="price_max">
		<br>
		<select name = "category">
			<option value="" selected>------</option>
			<option value = "Jewellery" selected>Jewellery</option>
			<option value = "Industrial">Industrial</option>
		</select>
		<br>
		<button type="submit"> Search </button>
	</form>
</div>

{% for instance in object_list %}

<div class="listing">
<a href='{{ instance.get_absolute_url }}' > {{ instance.title }} </a>

{% if instance.image %}
<img src="{{ instance.image.url }}"> 
{% endif %}

<p> Description: {{ instance.description }} </p>
<p> Price: {{ instance.price }} </p>
<p> Category: {{ instance.category }}</p>
<p> Listed By: {{ instance.listedBy }}</p>
<p>{{ instance.quantity }} avaliable <a href="{% url 'products:add_to_basket' instance.item_id 1 %}"><button>Add To Basket</button></a></p>
</div>

{% endfor %}


{% endblock %}