{% extends 'base.html' %}

{% block content %}

<p>Order: {{ order.order_id }}</p>
<p>Delivered to: {{ order.delivery_address}} </p>
<p>Paid Via: {{ order.card }} </p>

{% for item in order_items %}

<div class="basket">
<a href='{{ item.product.get_absolute_url }}' > {{ item.product.title }} </a>

{% if item.product.image %}
<img src="{{ item.product.image.url }}"> 
{% endif %}

<p> Description: {{ item.product.description }} </p>
<p> Price: {{ item.product.price }} </p>
<p> Quantity: {{ item.quantity }}</p>

</div>
<hr>

{% endfor %}

<!-- <div>
	<p> {{ basket.item_count }} items in basket</p>
	<p> Total: {{ basket.total }} </p>
</div> -->

{% endblock %}