{% extends 'base.html' %}

{% block content %}

<h1>Order</h1>
<hr>

<p>Order: {{ order.order_id }}</p>
<p>Delivered to: {{ order.delivery_address}} </p>
<p>Paid Via: {{ order.card }} </p>
<p>Created: {{order.created }}</p>


<div class="basket">
<a href='{{ order.product.get_absolute_url }}' > {{ order.product.title }} </a>

{% if order.product.image %}
<img src="{{ order.product.image.url }}"> 
{% endif %}

<p> Description: {{ order.product.description }} </p>
<p> Price: {{ order.product.price }} </p>
<p> Quantity: {{ order.quantity }}</p>
<p>status: {% if order.shipping_status %} Shipped {% elif order.paid_status %} Paid {% else %} Waiting Payment {% endif %} </p>


</div>
<hr>

{% endblock %}