{% extends 'base.html' %}


{% block content %}

<h1>{{ object.title }}</h1>

<hr>

{% if object.image %}
<img src="{{ object.image.url }}"> 
{% endif %}

<p>Description: {{ object.description }}</p>
<p>Price: £{{ object.price }}</p>
<p>Category: {{ object.category }}</p>
<p>Summary: {{ object.summary }}</p>
<p>Is featured: {{ object.featured }}</p>
<p>Avaliable: {{ object.quantity }}</p>
<form method="POST" enctype="multipart/form-data"> {% csrf_token %}
	{{form}}
	<button type="submit">add to basket</button>

</form>
	
<br>



{% if isMyProduct %}
	<a href="{{ object.get_absolute_url }}update_product"> <button>Edit</button></a>
	<a href="{{ object.get_absolute_url }}delete_product"> <button>Delete</button></a>
{% endif %}

{% endblock %}